<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.demo.mapper.AdminProductMapper">

   <delete id="removeUsersAllCommodity" parameterType="java.util.List">
        DELETE FROM commodity
        WHERE pid IN
        <foreach collection="pids" item="pid" index="index" open="(" close=")" separator=",">
           ${pid}
        </foreach>
   </delete>

    <delete id="removeByPid" parameterType="java.lang.Integer">
        DELETE FROM commodity WHERE pid = #{pid}
    </delete>

</mapper>