<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.demo.mapper.ProductMapper">

   <!--resultType的值是指集合中的元素类型-->
   <select id="findMySellByPids" resultType="com.wp.demo.bean.Commodity">
      SELECT * FROM commodity c
      WHERE c.pid IN
      <foreach collection="pids" item="pid" index="index" open="(" close=")" separator=",">
        #{pid}
      </foreach>
   </select>

   <delete id="removeByPid" parameterType="java.lang.Integer">
      DELETE FROM commodity WHERE pid = #{pid}
   </delete>

   <update id="doUpdate" parameterType="com.wp.demo.bean.Commodity">
      UPDATE commodity
      <set>
         <if test="photo != null">
            photo = #{photo},
         </if>
         <if test="name != null">
            name = #{name},
         </if>
         <if test="price != null">
            price = #{price},
         </if>
         <if test="note != null">
            note = #{note},
         </if>
         <if test="tid != null">
            tid = #{tid },
         </if>
         <if test="date != null">
            date = #{date},
         </if>
         <if test="count != null">
            count = #{count}
         </if>

      </set>
    WHERE pid = #{pid}
   </update>
</mapper>