<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>购物界面</title>
  <!-- Bootstrap core CSS -->
  <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
  <link href="asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
  <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<!--引入抽取的topbar,使用thymeleaf的语法th:replace="~{模板名::模块名或选择器}"-->
<div th:replace="~{commons/bar::topbar}"></div>

<div class="container-fluid">
  <div class="row">
    <!--sidebar:从dashboard模板中抽取出来的侧边栏公共页面引入进来-->
    <div th:replace="~{commons/bar::#sidebar(activeUri='myshopping.html')}"></div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <section class="jumbotron text-center"  style="background-image: url('/images/backimg3.jpg');background-repeat: no-repeat">
          <h1 class="jumbotron-heading">二手商品界面</h1>
          <p>
            <a th:href="@{/usr/toOrderCar}" class="btn btn-primary my-2">查看我的购物车</a>
            <a href="https://getbootstrap.com/docs/4.1/examples/album/#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <!--取出保存在pageInfo中的商品集合-->
            <div class="col-md-4" th:each="commodity:${pageInfo.list}">
              <div class="card mb-4 shadow-sm">

                <!--使用th标签的src属性拼接-->
                <span th:if="${commodity.photo != null }">
                  <img th:src="@{'/images/'+${commodity.photo}}"/>
                </span>
                <span th:if="${commodity.photo == null }">
                  <img th:src="@{/images/nophotos.jpg}"/>
                </span>

                <div class="card-body">
                  <p class="card-text" th:text="'商品名称：' + ${commodity.name}"></p>
                  <p th:text="'商品价格：' + ${commodity.price}"></p>
                  <p th:text="'商品简介：' + ${commodity.note}"></p>
                  <p th:text="'商品数量：' + ${commodity.count}"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button th:id="${commodity.pid}"   name="addToShoppingCar" type="button" class="btn btn-sm btn-outline-secondary addToShoppingCar">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        加入购物车
                      </button>
                      <button th:id="${commodity.pid}"  name="buyImmediately" type="button" class="btn btn-sm btn-outline-secondary buyImmediately">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        立即购买
                      </button>

                    </div>

                    <small class="text-muted">
                      <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        和他聊聊
                      </a>
                    </small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <p class="float-right">

          <a href="#"><button class="btn btn-sm btn-outline-secondary">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            回顶部！
          </button></a>
        </p>
      </div>

      <footer class="text-muted" style="text-align: right">
        <div class="container">
          <div  class="float-right">

            <nav aria-label="..." id="page_nav_area">
              <ul class="pagination">

              </ul>
            </nav>

          </div>
        </div>
        <!--用于保存要连续显示的页数-->
        <div th:each="paging:${pageInfo.navigatepageNums}">
          <p th:id="${paging}" th:name="${paging}" class="myPaging"></p>
          <input type="hidden" th:name="${pageInfo.pageNum}" th:id="currentPage">
          <input type="hidden" th:id="allPages" th:name="${pageInfo.pages}">
        </div>

      </footer>
    </main>
  </div>
</div>

<script type="text/javascript"  th:src="@{/asserts/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript"  th:src="@{/asserts/js/popper.min.js}"></script>
<script type="text/javascript"  th:src="@{/asserts/js/bootstrap.min.js}"></script>
<!--引入自定义的js文件-->
<script type="text/javascript" th:src = "@{/asserts/js/myjs.js}"></script>

<script>
    $(function () {

        //引入解析分页条的函数，已成功抽取
        parsingPaginatioBar();

        //添加到购物车
        $('.btn.btn-sm.btn-outline-secondary.addToShoppingCar').click(function () {
                //取得商品编号pid
                var tmp = $(this).attr("id");
                $.ajax({
                    url : "/usr/ajax/addToShoppingCar", //路径
                    type : "POST",            //提交方式
                    data : {
                        "pid" : tmp
                    },                        //数据，这里使用的是Json格式进行传输
                    success : function(result) {//返回数据根据结果进行相应的处理
                        if ( result == "true" ) {
                            alert("成功添加到购物车");
                        } else {
                            alert("添加到购物车失败");
                        }
                    }
                });
        });

        //去我的订单界面
        $("#myOrder").click(function () {
            toMyOrder();
        });

        //立即购买
        $('.btn.btn-sm.btn-outline-secondary.buyImmediately').click(function () {
            //取得点击的按钮的id属性值
            var tmp = $(this).attr("id");
            window.location.href = "/usr/ajax/buyImmediately/" + tmp;
        });

        //顶部栏搜索商品
        searchCommodity();
    });
</script>
</body>
</html>